html, body {height: 88%;}

#root {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
}

form {
    text-align: center;
}

p {
    margin: 10pt;
}

.posts {
    border-radius: 5px;
    margin: 15pt;
    border: solid 1pt lightgray;
    padding: 2pt;
}

.edit-del-btns {
    text-align: right;
    margin: 5pt;
}

.editing-area {
    display: none;
}

.editing-area.display {
    display: block;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

nav {
    top: 0;
    width: 100%;
}

ul {
    margin: 5px auto;
    padding-inline-start: 0;
    text-align: center;
}

li {
    display: inline;
    padding: 10pt;
}
    
#logout-btn {
    margin-left: 85%;
}

a {
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: aquamarine;
}

.footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}