html, body {
    height: 88%;
    /* font-family:  ; */
}

#root {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
}

form {
    text-align: center;
}

.user-input {
    margin: 5pt;
}

textarea {
    margin: 5pt;
}

.posts {
    border-radius: 5px;
    margin: 15pt;
    border: solid 1pt lightgray;
    padding: 10pt;
    text-align: justify;
}

.container-btns {
    text-align: right;
}

.editing-area {
    display: none;
}

.editing-area.display {
    display: block;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin-top: 40px;
}

nav {
    top: 0;
    width: 100%;
}

ul {
    margin: 5px auto;
    padding-inline-start: 0;
    text-align: center;
}

li {
    display: inline;
    padding: 10pt;
}
    
#logout-btn {
    margin-left: 85%;
}

a {
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: aquamarine;
}

.footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
