html, body {
    height: 88%;
    font-family: Arial;
    background-color: #60b8f3;
    color: #ffffff;
}

#root {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
    font-size: 15px;
}

form {
    text-align: center;
}

.user-input {
    padding-inline: 5px;
    margin: 5pt;
    margin-bottom: 20px;
    width: 220px;
    height: 35px;
    border-radius: 10px;
    border: 15px;
}

#register-link {
    color: #ffffff;
    font-weight: bold;
}

textarea {
    margin: 5pt;
    background-color: #abcde9;
    color: #ffffff;
}

.posts {
    border-radius: 5px;
    margin: 15pt;
    border: solid 1pt lightgray;
    padding: 10pt;
    text-align: justify;
    background-color: #3183c7;
}

.container-btns {
    text-align: right;
}

.editing-area {
    display: none;
}

.editing-area.display {
    display: block;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin-top: 40px;
}

nav {
    top: 0;
    width: 100%;
    color: #416be7;
    font-weight: bold;
}

ul {
    margin: 5px auto;
    padding-inline-start: 0;
    text-align: center;
}

li {
    display: inline;
    padding: 10pt;
}
    
#logout-btn {
    margin-left: 75%;
    width: 80px;
    height: 30px;
    border-radius: 10px 5px;
    border: 15px;
    color: #ffffff;
    background-color: #416be7;
}

.edit-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px 5px;
    border: 15px;
    background-color: #6587ec;
}

.delete-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px 5px;
    border: 15px;
    background-color: #6587ec;
}

.like-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px 5px;
    border: 15px;
        background-color: #6587ec;
}

button {
    width: 155px;
    height: 30px;
    border-radius: 10px 5px;
    border: 15px;
    color: #ffffff;
    background-color: #416be7;
}

a {
    text-decoration: none;
}

a:link{
    color: #07468f;;
}

a:visited {
    color: #07468f;;
}

a:hover {
    color: #9fbdf3;
}

.footer {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    color: #416be7;
}
